.create-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 30px;
  }

  &__form {
    display: grid;
    padding: 30px 20px 20px;
    background-color: var(--color-background-card);
    border: 2px solid var(--color-accent);
    border-radius: 30px;
  }

  &__list{
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  &__input {
    padding: 5px 10px;
    border: 1px solid var(--color-background);
    border-radius: 6px;
    outline: none;
    transition: 0.2s;

    &:focus {
      border-color: var(--color-base);
    }
  }

  &__button {
    padding: 10px 0;
    border-color: transparent;
    border-radius: 15px;
    color: var(--color-background);
    background-color: var(--color-accent);
    transition-duration: 0.3s;

    &:hover {
      color: var(--color-base);
      border-color: var(--color-base);
      background-color: var(--color-background);
    }

  }
  
}