@import url('https://fonts.googleapis.com/css2?family=Anton&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --color-background: #ffffff;
  --color-background-card: #f5f5f5;
  --color-base: #2c3953;
  --color-accent: #2a5ec8;
  --color-accgfdgfdgt: rgb(228, 117, 117);
}

body {
  height: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 50px;
  background-color: var(--color-background);
  color: var(--color-base);
  font-family: "Schibsted Grotesk", sans-serif;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5 
h6, .h6 {
  font-size: 20px;
  font-weight: 700;
}

h1, .h1 {
  font-size: 46px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

